In [24]:
from GalaxyMass import ComponentMass
import astropy.units as u
from astropy.table import Table
import numpy as np
import pandas as pd

# Milky Way Galaxy

In [2]:
file = "MW_000.txt"
MW_Halo_Mass = ComponentMass(file, 1.0)
MW_Disk_Mass = ComponentMass(file, 2.0)
MW_Bulge_Mass = ComponentMass(file, 3.0)

In [3]:
print(MW_Halo_Mass)
print(MW_Disk_Mass)
print(MW_Bulge_Mass)

1.975
0.075
0.01

In [4]:
MW_Total_Mass = MW_Bulge_Mass + MW_Disk_Mass + MW_Halo_Mass
print(MW_Total_Mass)

2.06

In [5]:
MW_f_bar = np.round((MW_Bulge_Mass + MW_Disk_Mass)/MW_Total_Mass, 3)
print(MW_f_bar)

0.041

# M31

In [7]:
file = "M31_000.txt"
M31_Halo_Mass = ComponentMass(file, 1.0)
M31_Disk_Mass = ComponentMass(file, 2.0)
M31_Bulge_Mass = ComponentMass(file, 3.0)

In [8]:
print(M31_Halo_Mass)
print(M31_Disk_Mass)
print(M31_Bulge_Mass)

1.921
0.12
0.019

In [9]:
M31_Total_Mass = M31_Bulge_Mass + M31_Disk_Mass + M31_Halo_Mass
print(M31_Total_Mass)

2.06

In [10]:
M31_f_bar = np.round((M31_Bulge_Mass + M31_Disk_Mass)/M31_Total_Mass, 3)
print(M31_f_bar)

0.067

# M33

In [12]:
file = "M33_000.txt"
M33_Halo_Mass = ComponentMass(file, 1.0)
M33_Disk_Mass = ComponentMass(file, 2.0)
M33_Bulge_Mass = ComponentMass(file, 3.0)

In [13]:
print(M33_Halo_Mass)
print(M33_Disk_Mass)
print(M33_Bulge_Mass)

0.187
0.009
0.0

In [14]:
M33_Total_Mass = M33_Bulge_Mass + M33_Disk_Mass + M33_Halo_Mass
print(M33_Total_Mass)

0.196

In [15]:
M33_f_bar = np.round((M33_Bulge_Mass + M33_Disk_Mass)/M33_Total_Mass, 3)
print(M33_f_bar)

0.046

# Local Group Table

In [17]:
t = Table()
t["Galaxy Name"] = ["Milky Way", "M31", "M33"]
t["Halo Mass"] = np.array([MW_Halo_Mass, M31_Halo_Mass, M33_Halo_Mass]) # * u.Msun * 1e12 
t["Disk Mass"] = np.array([MW_Disk_Mass, M31_Disk_Mass, M33_Disk_Mass]) # * u.Msun * 1e12 
t["Bulge Mass"] = np.array([MW_Bulge_Mass, M31_Bulge_Mass, M33_Bulge_Mass]) # * u.Msun * 1e12
t["Total Mass"] = t["Halo Mass"] + t["Disk Mass"] + t["Bulge Mass"]
t["f_bar"] = np.round((t["Disk Mass"] + t["Bulge Mass"])/t["Total Mass"], 3)
t

<Table length=3>
Galaxy Name Halo Mass Disk Mass Bulge Mass Total Mass  f_bar
    str9     float64   float64   float64    float64   float64
----------- --------- --------- ---------- ---------- -------
  Milky Way     1.975     0.075       0.01       2.06   0.041
        M31     1.921      0.12      0.019       2.06   0.067
        M33     0.187     0.009        0.0      0.196   0.046

In [21]:
data = {"Galaxy Name" : ["Milky Way", "M31", "M33"],
        "Halo Mass" : np.array([MW_Halo_Mass, M31_Halo_Mass, M33_Halo_Mass]), # * u.Msun * 1e12 
        "Disk Mass" : np.array([MW_Disk_Mass, M31_Disk_Mass, M33_Disk_Mass]), # * u.Msun * 1e12 
        "Bulge Mass" : np.array([MW_Bulge_Mass, M31_Bulge_Mass, M33_Bulge_Mass]), # * u.Msun * 1e12
}

data["Total Mass"] = data["Halo Mass"] + data["Disk Mass"] + data["Bulge Mass"]
data["f_bar"] = np.round((data["Disk Mass"] + data["Bulge Mass"])/data["Total Mass"], 3)

In [25]:
df = pd.DataFrame(data)

In [27]:
df

  Galaxy Name  Halo Mass  Disk Mass  Bulge Mass  Total Mass  f_bar
0   Milky Way      1.975      0.075       0.010       2.060  0.041
1         M31      1.921      0.120       0.019       2.060  0.067
2         M33      0.187      0.009       0.000       0.196  0.046

In [30]:
df.to_latex("Table2.tex", index=False)